body {
  background-image: url("../../media/img//background-test.jpg");
  background-size: cover;
}
.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(39, 39, 39);
  .nav {
    background-color: #03318C;
    padding: 5px 0;
  }
  .content {
    flex: 1;
    overflow-y: auto;
    .container {
      text-align: center;
      padding-top: 20px;
      img {
        width: 500px;
        margin: 10px 0;
      }
    }
  }
  footer {
    padding: 5px 0;
  }
}
@media (max-width: 666px) {
  .body {
    .content {
      .container {
        h1 {
          font-size: 1.6rem;
        }
        img {
          width: 200px;
        }
      }
    }
  }
}
